@import "tailwindcss";

html,
body,
* {
    @font-face {
        font-family: "SF Pro Display";
        src: url("/assets/font/SFPRODISPLAYREGULAR.OTF");
    }

    overflow: hidden;
}

@layer components {

    .nav-item {
        @apply pb-2;
    }

    .nav-item:hover,
    .nav-item.active {
        @apply border-b-2 border-[#F5C51C] cursor-pointer;
    }

    .title {
        @apply text-[#F7F7F7] text-[72px] font-semibold;
    }
}