@import "tailwindcss";

html,
body,
* {
    /* font-size: "SF Pro Display";
    src: url("/assets/font/SFPRODISPLAYREGULAR.OTF"); */

    @font-face {
        font-family: "SF Pro Display";
        src: url("/assets/font/SFPRODISPLAYREGULAR.OTF");
    }

    overflow: hidden;

    /* max-width: 100%; */
}