@import "tailwindcss";


html,
body,
* {
    /* font-size: "SF Pro Display";
    src: url("/assets/font/SFPRODISPLAYREGULAR.OTF"); */

    @font-face {
        font-family: "SF Pro Display";
        src: url("/assets/font/SFPRODISPLAYREGULAR.OTF");
    }

    overflow: hidden;

    /* max-width: 100%; */
}

@layer components {

    .nav-item {
        @apply pb-2;
    }

    .nav-item:hover,
    .nav-item.active {
        @apply border-b-2 border-[#F5C51C] cursor-pointer;
    }
}